.pi/
.reference/
.filter-venv/
.Rcheck/
*.Rcheck/
build/
cmake_build/
configure/
venv/
*.o
*.a
*.so
*.duckdb_extension
third_party/htslib/config.mk
third_party/htslib/config.h
third_party/htslib/htslib/hts_version.h
third_party/htslib/htslib/htslib.pc
third_party/htslib/htslib/htslib_static.mk
r/Rduckvep/inst/duckvep_extension/
